<template>
  <q-page class="flex flex-center">
    <img alt="Quasar logo" src="~/assets/img/logo_sol2.jpg">
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex'
}
</script>
