<template>
    <q-page class="q-mt-lg q-mx-lg">
        <q-table
        :columns="columns"
        :data="empresas"
        dense
        separator="cell"
        :pagination.sync="pagination"
        row-key="fantasia"
        @request="onRequest"
        bordered
        class="tabelaHeader "
        :filter="filter"
        >
            <template v-slot:top-right>
                <q-input borderless dense debounce="300" v-model="filter" placeholder="Buscar Empresa">
                <template v-slot:append>
                    <q-icon name="search" />
                </template>
                </q-input>
            </template>

            <template slot="body-cell-info" slot-scope="props">
               <q-btn color="primary" class="q-mx-sm" size="xs" @click="fetchEmpresasValores(props.row)">Valores</q-btn>
               <q-btn color="secondary" size="xs" @click="fetchRiscosEmpresa(props.row)">Riscos</q-btn>
            </template>

        </q-table>
        <q-dialog v-model="dialog" full-width>
           <q-layout container class="bg-white">
                <q-header class="bg-secondary">
                <q-toolbar>
                    <q-toolbar-title>{{empresa.RAZAO}}</q-toolbar-title>
                    <q-btn flat v-close-popup round dense icon="close" />
                </q-toolbar>
                </q-header>
                <q-page-container>
                <q-page padding>
                    <component :is="componentNome" :empresa="empresa"  ></component>
                </q-page>
                </q-page-container>
            </q-layout>
        </q-dialog>
    </q-page>
</template>

<script>
import EmpresaService from '../../services/EmpresaService'
const Valores =  () => import('../../components/Empresa/Valores')
const Riscos =  () => import('../../components/Empresa/Riscos')
export default {
    data(){
        return{
            empresas:[],
            columns:[
                {name:'cnpj', field:'CNPJ', label:'CNPJ', align:'center'},
                {name:'fantasia', field:'NOME', label:'Nome Fantasia', align:'center'},
                {name:'razao', field:'RAZAO', label:'Razão Social', align:'center'},
                {name:'info', label:'Informações', align:'center', style:"width:160px;"}
            ],
            pagination:{
                sortBy: 'fantasia',
                descending: false,
                page: 1,
                rowsPerPage: 20,
                rowsNumber:Number
            },
            filter:'',
            dialog:false,
            empresa:{}, 
            componentNome:''
        }
    },
    methods:{
        fetchEmpresas(page){
            return EmpresaService.getEmpresas(page)
        },
        onRequest(props){
            this.fetchEmpresas(props.pagination.page)
                .then(empresas =>  {
                    this.empresas = empresas.data.data
                    this.pagination.page = empresas.data.current_page
                    this.pagination.rowsPerPage = empresas.data.per_page
                    this.pagination.rowsNumber = empresas.data.total
                })
            this.findEmpresa(props.filter)
                .then(empresa => this.empresas = empresa.data )
        },
        findEmpresa(empresaNome){
           return EmpresaService.findEmpresa(empresaNome)
            
        },
        fetchEmpresasValores(empresa){
            this.empresa = empresa
            this.$q.loading.show({delay:300})
            setTimeout(() => {
                this.componentNome = Valores
                this.$q.loading.hide()
                this.dialog = true
            }, 2000);
            
        },
        fetchRiscosEmpresa(empresa){
            this.empresa = empresa
            this.$q.loading.show({delay:300})
            setTimeout(() => {
                this.componentNome = Riscos
                this.$q.loading.hide()
                this.dialog = true
            }, 2000);
        }
    },
    created() {
        this.fetchEmpresas(1).then(empresas => {
            this.empresas = empresas.data.data
            this.pagination.page = empresas.data.current_page
            this.pagination.rowsPerPage = empresas.data.per_page
            this.pagination.rowsNumber = empresas.data.total
        })
    },

}
</script>

<style lang="stylus">
.tabelaHeader
  .q-table__top,
  thead tr:first-child th /* bg color is important for th; just specify one */
    background-color #c1f4cd
    font-size 20px

  thead tr:first-child th
    position sticky
    top 0
    opacity 1
    z-index 1
</style>
