<template>
    <div>
        <template  v-if="riscos.length == 0">
            <q-banner dense  rounded class="text-white bg-red">
            <p class="text-center q-pt-lg">NÃO EXISTE RISCOS DEFINOS PARA ESSA EMPRESA!</p>
            </q-banner>
        </template>
        <template v-else>
            <q-table
                class="my-header-column-table"
                :columns="columns"
                :data="riscos"
                dense
                row-key="funcao"
                :pagination.sync="paginagion"
                :filter="filter"
            >
                <template v-slot:top-right>
                    <q-input borderless dense debounce="300" v-model="filter" placeholder="Buscar Função">
                    <template v-slot:append>
                        <q-icon name="search" />
                    </template>
                    </q-input>
                </template>
            </q-table>   
        </template>
    </div>
</template>

<script>
import EmpresaService from '../../services/EmpresaService'
export default {
    props:['empresa'],
    data(){
        return{
            riscos:[],
            columns:[
                {name:'funcoes', field:'NOME_FUNCAO', label:'Funções', align:'left' },
                {name:'fisico', field:'FISICOS', label:'Fisico', align:'center'},
                {name:'quimico', field:'QUIMICOS', label:'Quimico', align:'center'},
                {name:'biologico', field:'BIOLOGICOS', label:'Biologicos', align:'center'},
                {name:'acidente', field:'ACIDENTES', label:'Acidentes', align:'center'},
                {name:'outros', field:'OUTROS', label:'Outros', align:'center'},
            ],
            paginagion:{rowsPerPage:0},
            filter:''
        }
    },
    watch: {
        empresa(value){
            this.getRiscos(value)
        }
    },
    created() {
        this.getRiscos(this.empresa)
    },
    methods:{
        getRiscos(empresa){
            EmpresaService.getRiscosEmrpesa(empresa.COD_RISCOS)
                .then(riscos => {
                    if(empresa.COD_RISCOS == 1){
                       this.riscos = new Array();
                    }else{
                        this.riscos = riscos.data
                    }
                })
        }
    }

}
</script>

<style lang="stylus">

.my-header-column-table
  .q-table__top,
  .q-table__bottom,
  tr:first-child th, /* bg color is important for th; just specify one */
  td:first-child /* bg color is important for td; just specify one */
    background-color #c1f4cd
    

  tr:first-child th
    top 0
    opacity 1 /* opacity is important */
    z-index 2 /* higher than z-index for td below */
    

  tr:first-child th:first-child
    z-index 3 /* highest z-index */
    

  td:first-child
    z-index 1

  td:first-child, th:first-child
    left 0
  
  

</style>
