<template>
   <div>
     <h3 class="q-mt-none q-mb-xs">Valores dos exames:</h3>
     <template v-if="valores.length == 0">
       <div>
         <q-banner dense  rounded class="text-white bg-red">
           <p class="text-center q-pt-lg">NÃO EXISTE VALORES DEFINIDO PARA ESSA EMPRESA!</p>
         </q-banner>
       </div>
     </template>
     <template v-else>
        <q-markup-table separator="cell">
          <thead>
            <tr>
              <th class="text-left">Nome Exame</th>
              <th class="text-center">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(valor, index ) in valores" :key="index">
              <td class="text-left">{{valor.NOMEEXAME}}</td>
              <td class="text-center">R$ {{valor.VALOR | moeda }}</td>
            </tr>
          </tbody>
        </q-markup-table>     
     </template>
   </div>
</template>

<script>
import EmpresaService from '../../services/EmpresaService'
export default {
    props:['empresa'],
    data(){
        return {
            valores:[],
            columns:[
                {name:"exame", label:"Exame", field:"NOMEEXAME", align:'center'},
                {name:'valor', label:'Valor', field:'VALOR', align:'center'}
            ]
        }
    },
    created() {
      this.fetchValoresEmpresas(this.empresa.CODIGO)
    },
    watch: {
        empresa(value){
            this.fetchValoresEmpresas(value.CODIGO)
        }
    },
    methods:{
        fetchValoresEmpresas(codigo){
            EmpresaService.getValoresExamesEmpresa(codigo)
                .then(valores => this.valores = valores.data)
        }
    }

}
</script>

<style>

</style>
