<template>
  <div id="q-app">
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="bg-teal-5">
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          SISATEND REBORN
        </q-toolbar-title>

        <div>{{data}}</div>
      </q-toolbar>
    </q-header>
    <side-menu :leftDrawerOpen="leftDrawerOpen" />
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
  </div>
</template>

<script>
import {date} from 'quasar'
export default {
  components:{
    SideMenu: () => import('./components/global/SideMenu')
  },
  data () {
    return {
      leftDrawerOpen: false,
      data:date.formatDate(new Date(), 'DD/MM/YYYY')
    }
  }
}
</script>

<style>
</style>
